<h1>sorry!</h1>
<title>no matching!</title>
<body>
    <div class="image">
      <figure>
         <img src="../static/img/no_match.jpg" >
        
         <p> no matching result be found!<span><a href="">You can go back here</a>   </span>     
         </p>
      </figure>
    </div> 
  </body>


  <style type="text/css">
    body{
  text-align:center;
  vertical-align:center;
  
}

.image{
  display:inline-block;
  margin-top:30px;
  transition: all 0.8s;
}

.image:hover{
transform:scale(1.1);
}

.image:hover figcaption{
opacity : 1;
transition: opacity 0.8s;  
}

figure{
  font-family:'Ubuntu';
  font-size:20px;
  color:#282828;
  margin:0;
  margin-bottom:30px;
}




figcaption{
  opacity: 0;
  text-align:center;
}

span{
  font-style:italic;
  font-size:15px;
}
span:before{
content:' - ';
}

a{
  text-decoration:none;
  color:#52618d;
}
</style>