{% extends "base.html" %}
{% block content %}
<title>Send Email Page!</title>
<div id="advertise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Email Details</h4>
                <form id="form_data" action='/send_email:{{id}}' method='POST'>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Subject</label>
                            <input type="text" name="subject" class="form-control" id="title" placeholder="Please enter an email subject" required>
                        </div>

                        <div class="form-group">
                            <label for="Description">Message</label>
                            <textarea class="form-control" name="message" id="Description" rows="3" placeholder="Please enter the message you want to send" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                        <br>
                        <a href="my_events" style="float:right; text-align:right">Go back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}